HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/web/node
/web/node_modules
web/node
web/node_modules
### VS Code ###
.vscode/
*.log
.output.txt
/src/main/resources/static/
.env.local
.env.development.local
.env.test.local
.env.production.local

/web/node/
/web/node_modules/
.idea
.vscode
target

